body {
    margin: 32px auto;
    font-size: 20px;
}

pre {
    margin: 0 auto;
    white-space: pre-wrap;
    max-width: 800px;
    word-wrap: break-word;
}
.lang {
    display: block;
    margin: 0 auto 24px;
    max-width: 720px;
    text-align: right;
    color: blue;
}
.lang:hover {
    color: blueviolet;
}
