/*
Style Sheet

CSS level 3

Table of content

    General
    Typography
    Colors
*/

/*
 * ----------------------------------------------------------------
 * General
 * ----------------------------------------------------------------
 */

body {
    max-width: 800px;
    margin: 32px auto 96px;
    padding: 0 12px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.563em;
    margin-bottom: 1.25em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    padding-left: 1.25em;
}

li {
    margin-bottom: 0.262em;
}

pre {
    margin: 0.41em 0;
    padding: 8px 12px;
}

hr {
    margin-top: 1.953em;
    margin-bottom: 1.953em;
}

.lang {
    text-align: right;
    margin: 0 auto;
}

/*
 * ----------------------------------------------------------------
 * Typography
 * ----------------------------------------------------------------
 */

body {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

code {
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}

/*
 * ----------------------------------------------------------------
 * Colors
 * ----------------------------------------------------------------
 */

body {
    color: #242424;
    background-color: #fafafa;
}

pre {
    color: #ff8800;
    background-color: #ffffff;
}

a {
    color: #0088ff;
}

a:hover {
    color: #8888ff;
}

hr {
    color: #dddddd;
}
